{% load mathfilters %}
<div class="m-5">
<div class="row">
<div class="col me-3">
<h2>Expenses</h2>
<hr>
{% if expenses %}
  <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Wallet</th>
          <th scope="col">Category</th>
          <th scope="col">Note</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
      {% for expense in expenses %}
        <tr class="transaction">
          <td><a href="{% url 'transaction_detail' expense.transaction_id %}">{{ expense.transaction_date|date:'d M Y' }}</a></td>
          <td><a href="{% url 'transaction_detail' expense.transaction_id %}">{{ expense.wallet }}</a></td>
          <td><a href="{% url 'transaction_detail' expense.transaction_id %}">{{ expense.category }}</a></td>
          <td><a href="{% url 'transaction_detail' expense.transaction_id %}">{{ expense.transaction_note }}</a></td>
          <td><a href="{% url 'transaction_detail' expense.transaction_id %}">Rp. {{ expense.transaction_nominal|abs }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p class="text-center">No expenses yet</p>
{% endif %}
</div>

<div class="col ms-3">
<h2>Incomes</h2>
<hr>
{% if incomes %}
  <table class="table mb-5">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Wallet</th>
          <th scope="col">Category</th>
          <th scope="col">Note</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        {% for income in incomes %}
          <tr class="transaction">
            <td><a href="{% url 'transaction_detail' income.transaction_id %}">{{ income.transaction_date|date:'d M Y' }}</a></td>
            <td><a href="{% url 'transaction_detail' income.transaction_id %}">{{ income.wallet }}</a></td>
            <td><a href="{% url 'transaction_detail' income.transaction_id %}">{{ income.category }}</a></td>
            <td><a href="{% url 'transaction_detail' income.transaction_id %}">{{ income.transaction_note }}</a></td>
            <td><a href="{% url 'transaction_detail' income.transaction_id %}">Rp. {{ income.transaction_nominal|abs }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
{% else %}
  <p class="text-center">No incomes yet</p>
{% endif %}
</div>