<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} | Money Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <style>{% block style %}{% endblock style %}</style>
    <style>
      .transaction:hover, tr:hover > td a { 
        background: #0d6efd; 
        color: #fff;
      }
      td a { 
          display: block;
          text-decoration: none;
          color: #000;
      }
    </style>
    </head>
  <body>
    {% block content %}
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
      //both function not optimized
      function checkall(chkboxName) {
        let checkboxesCategory = document.getElementsByClassName("category");
        let checkboxesWallet = document.getElementsByClassName("wallet");
        let allCategoryCheckbox = document.getElementById("all-category");
        let allWalletCheckbox = document.getElementById("all-wallet");
        let alltransaction = document.getElementsByClassName("transaction");
        if (chkboxName == "category") {
          if (allCategoryCheckbox.checked) {
            
            for (let i = 0; i < checkboxesCategory.length; i++) {
              checkboxesCategory[i].checked = true;
            }
            for (let i = 0; i < checkboxesWallet.length; i++) {
              foo = document.getElementsByClassName("wallet-" + checkboxesWallet[i].value);
              if (checkboxesWallet[i].checked) {
                for (let j = 0; j < foo.length; j++) {
                  
                  foo[j].style.display = "";
                }
              } else {
                for (let j = 0; j < foo.length; j++) {
                  foo[j].style.display = "none";
                }
              }  
            }
          } else {
            for (let i = 0; i < checkboxesCategory.length; i++) {
              checkboxesCategory[i].checked = false;
            }
            for (let i = 0; i < alltransaction.length; i++) {
              alltransaction[i].style.display = "none";
            }
          }
        } else if (chkboxName == "wallet") {
          if (allWalletCheckbox.checked) {
            for (let i = 0; i < checkboxesWallet.length; i++) {
              checkboxesWallet[i].checked = true;
            }
            for (let i = 0; i < checkboxesCategory.length; i++) {
              foo = document.getElementsByClassName("category-" + checkboxesCategory[i].value);
              if (checkboxesCategory[i].checked) {
                for (let j = 0; j < foo.length; j++) {
                  foo[j].style.display = "";
                }
              } else {
                for (let j = 0; j < foo.length; j++) {
                  foo[j].style.display = "none";
                }
              }  
            }
          } else {
            for (let i = 0; i < checkboxesWallet.length; i++) {
              checkboxesWallet[i].checked = false;
            }
            for (let i = 0; i < alltransaction.length; i++) {
              alltransaction[i].style.display = "none";
            }
          }
        }
      }
      function getCheckedBoxes() {
        let checkboxesCategory = document.getElementsByClassName("category");
        let checkboxesWallet = document.getElementsByClassName("wallet");
        let countCategoryChecked = 0;
        let countWalletChecked = 0;
        for (let i = 0; i < checkboxesCategory.length; i++) {
          if (checkboxesCategory[i].checked == true) {
            countCategoryChecked++;
          }
        }
        for (let j = 0; j < checkboxesWallet.length; j++) {
          if (checkboxesWallet[j].checked == true) {
            countWalletChecked++;
          }
        }
        if (countCategoryChecked == checkboxesCategory.length) {
          document.getElementById("all-category").checked = true;
        } else {
          document.getElementById("all-category").checked = false;
        }
        if (countWalletChecked == checkboxesWallet.length) {
          document.getElementById("all-wallet").checked = true;
        } else {
          document.getElementById("all-wallet").checked = false;
        }
        
        for (let i = 0; i < checkboxesCategory.length; i++) {
          for (let j = 0; j < checkboxesWallet.length; j++) {
            if (checkboxesCategory[i].checked && checkboxesWallet[j].checked) {
              foo = document.getElementsByClassName("category-" + checkboxesCategory[i].value + " wallet-" + checkboxesWallet[j].value);
              for (let k = 0; k < foo.length; k++) {
                foo[k].style.display = "";
              }
            } else {
              foo = document.getElementsByClassName("category-" + checkboxesCategory[i].value + " wallet-" + checkboxesWallet[j].value);
              for (let k = 0; k < foo.length; k++) {
                foo[k].style.display = "none";
              }
            }
          }
        }
      }
      getCheckedBoxes();
      </script>
  </body>
</html>