{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}Category{% endblock title %}
{% block content %}
    {% include 'includes/navbar.html' with categories='active' %}
    <div class="container my-5">
        {% for category in categories %}
            <form action="/category/" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center mb-3">
                    <div class="col-3">
                        <input type="text" class="form-control" name="category_name" value="{{ category }}" required>
                        <input type="hidden" name="category_id" value="{{category.category_id}}">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary" type="submit" name="method" value="update"><i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-outline-danger" type="submit" name="method" value="delete"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </form>
        {% endfor %}
        <form action="/category/" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center mb-3">
                <div class="col-3">
                    <input type="text" class="form-control" name="category_name" placeholder="New Category" required>
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-primary" type="submit" name="method" value="create"><i class="bi bi-plus-circle-fill"></i></button>
                </div>
            </div>
        </form>
    </div> 
{% endblock content %}