{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
  {% include 'includes/navbar.html' with dashboard='active' %}

  <div class="container-md my-3 ">
    <div class="container ">
      <div class="row align-items-center">
          <div class="col">
              <div class="card">
                  <div class="card-body">
                      <strong style="display: block;">Welcome back, {{ user }}</strong>
                      <small class="text-muted" style="display: block;">Saldo Anda</small>
                      <h1 style="display: inline;"><strong>Rp. {{ saldo }}</strong> <button class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil"></i></button></h1> 
                  </div>
              </div>
          </div>
          <div class="col text-center">
              <div class="row align-items-center">
                  <div class="col">
                      <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#transactionModal"><i class="bi bi-plus-lg"></i> Add Transaction</button>
                  </div>
                  <div class="col">
                      <button class="btn btn-outline-primary"><i class="bi bi-wallet2"></i> Manage Wallets </i></button>
                  </div>
                  <div class="col">
                      <button class="btn btn-outline-primary"><i class="bi bi-collection"></i> Manage Categories </button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  {% include 'includes/modals/transaction.html' %}
  {% include 'includes/transaction.html' %}
{% endblock content %}
