{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
  {% include "includes/navbarlog.html" with page="register" %}
  <div class="container-md my-3 ">
    <div class="container ">
        <div class="row align-items-center my-5">
            <div class="col">
                something goes Here
            </div>
            <div class="col text-center shadow-lg p-3 mb-5 bg-body rounded">
                <form action="/login/" method="POST">
                    {% csrf_token %}
                    <h1 class="mt-5">Login</h1>
                    <div class="row justify-content-center my-4">
                        <div class="col-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" autocapitalize="none" autocomplete="username" placeholder="Username" name="username" autofocus required>
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword" autocomplete="current-password" placeholder="Password" name="password" required>
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="col-8">
                            No account? <a href="/register/" class="text-decoration-none fw-bold">Sign Up</a>
                        </div>
                        <div class="text-center mt-2">
                          {{message}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/01.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">For those about to rock...</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/02.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <h2 class="display-4">We salute you!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="rounded-circle img-fluid" src="assets/img/03.jpg"></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be rock!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
  </section>
  {% include "includes/footer.html" %}
{% endblock content %}