{% extends 'base.html' %}
{% block title %}Register{% endblock title %}Register
{% block content %}
  {% include "includes/navbarlog.html" with page="Login" %}
  <!-- content -->
  <div class="container-md my-5 ">
    <div class="container">
        <div class="row align-items-center justify-content-center my-5">
            <div class="col-6 text-center shadow-lg p-3 mb-5 bg-body rounded my-5">
                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <h1 class="mt-5">Register</h1>
                    <div class="row justify-content-center my-4">
                        <div class="col-8">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="username" autocomplete="username" autocapitalize="none"  autofocus required>
                                <label for="floatingInput">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password1" placeholder="Password" name="password1" autocomplete="new-password" minlength="8" required >
                                <label for="password1">Password</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="password2" placeholder="Password" name="password2" autocomplete="new-password" minlength="8" oninput=check(this) required>
                                <label for="password2">Confirm passowrd</label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <button type="submit" class="btn btn-primary w-100 mb-3">Register</button>
                        </div>
                    </div>
                    <div class="row justify-content-center mb-5">
                        <div class="col-8">
                            Have an account? <a href="{% url 'login' %}" class="text-decoration-none fw-bold">Login</a>
                        </div>
                        <div class="text-center mt-2 ">
                          {{message}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
  <script language='javascript' type='text/javascript'>
    function check(input) {
        if (input.value != document.getElementById('password1').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
  </script>
  {% include "includes/footerfixed.html" %}

{% endblock content %}
