{% extends 'base.html' %}
{% load mathfilters %}
{% block title %}Shopping List{% endblock title %}
{% block content %}
    {% include 'includes/navbar.html' with shoppinglists='active' %}
    <div class="container my-5">
        {% for shoppinglist in shoppinglists %}
            <form action="/shoppinglist/" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center mb-3">
                    <div class="col-3">
                        <input type="text" class="form-control" name="shoppinglist_note" value="{{ shoppinglist.shoppinglist_note }}" required>
                        <input type="hidden" name="shoppinglist_id" value="{{ shoppinglist.shoppinglist_id }}">
                    </div>
                    <div class="col-3">
                        <select class="form-control" id="exampleFormControlSelect1" name="category"> 
                            <option value="">Choose a category..</option>
                            {%for category in categories%} 
                                <option value="{{ category.category_id }}"
                                {% if shoppinglist.category_id == category.category_id %} selected {% endif %}
                                >
                                {{ category.category_name }} 
                                </option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="col-3">
                        <input type="checkbox" name="shoppinglist_isDone" class="btn-check" id="btn-check{{ shoppinglist.shoppinglist_id }}" autocomplete="off" {% if shoppinglist.shoppinglist_isDone %} checked {% endif %}>
                        <label class="btn btn-outline-primary" for="btn-check{{ shoppinglist.shoppinglist_id }}"><i class="bi bi-check-lg"></i></label>
                        <button class="btn btn-outline-primary" type="submit" name="method" value="update"><i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-outline-danger" type="submit" name="method" value="delete"><i class="bi bi-trash-fill"></i></button>
                    </div>
                </div>
            </form>
        {% endfor %}
        <form action="/shoppinglist/" method="POST">
            {% csrf_token %}
            <div class="row justify-content-center mb-3">
                <div class="col-3">
                    <input type="text" class="form-control" name="shoppinglist_note" placeholder="Note" required>
                </div>
                <div class="col-3">
                    <select class="form-control" id="exampleFormControlSelect1" name="category"> 
                        <option value="">Choose a category..</option>
                        {%for category in categories%} 
                            <option value="{{ category.category_id }}">
                            {{ category.category_name }} 
                            </option>
                        {%endfor%}
                    </select>
                </div>
                <div class="col-3">
                    <input type="checkbox" name="shoppinglist_isDone" class="btn-check" id="btn-check" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btn-check"><i class="bi bi-check-lg"></i></label>
                    <button class="btn btn-outline-primary" type="submit" name="method" value="create"><i class="bi bi-plus-circle-fill"></i></button>
                </div>
            </div>
    </div> 
    {% include 'includes/footerfixed.html' %}
{% endblock content %}